[Unit]
Description=Automatic Wifi on Boot Up Service

[Service]
Type=idle
User=root
ExecStart=/bin/bash /opt/rfid-prototype/bin/autostart-wifi.sh

[Install]
WantedBy=multi-user.target
